{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"proseWrap": "preserve",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"proseWrap": "preserve"
			}
		}
	]
}
